
.sml{
    width: 50%;
    /* margin-top: 50px; */
}
.ab1{
    height: 270px;

}
.single-blog img{
    height: 250px;
    width: 100%;
}
.single-causes img{
    height: 520px;
    width: 360px;
}
.team-image img{
    width: 380px;
    height: 250px;
}
.footer-news img{
    width: 80px;
    height: 68px;
}
.logo img{
    width: 100px;
    height: 80px;
}
.navbar-brand img{
    width: 230px;
    height: 140px;
}