.white-logo{
    width: 10%;
    padding-bottom: 20px;
    /* margin-right: 5px; */
}
.black-logo{
    width: 10%;
    padding-bottom: 20px;
    /* margin-right: 5px; */
}
.sml{
    width: 50%;
    /* margin-top: 50px; */
}
.ab1{
    height: 270px;

}
.single-blog img{
    height: 200px;
    width: 100%;
}
.single-causes img{
    height: 520px;
    width: 360px;
}
.team-image img{
    width: 380px;
    height: 250px;
}
